
.todoListCard {
  display: inline-grid;
  grid-template-columns: 45vw 45vw;
  grid-template-rows: 11vw;
  gap: 10px;
  align-items: start;
}
  
  .complete-true {
    text-align: center;
    background-color: green;
    
  }

  .complete-false {
    background-color: pink;
  }


